%nproc=36
%mem=15GB
#p opt {{method or "B3LYP"}}/{{basis_set or "STO-3G"}} symmetry={{symmetry}}
{% if dispersion -%}
EmpiricalDispersion={{dispersion}}
{%- endif %}

Geometry optimization

{{charge}} {{multiplicity}}
{% for a in molecule.atoms -%}
{{a.symbol | format("<6") }} {{ a.x | format("-18.8")}} {{ a.y | format("-18.8")}} {{ a.z | format("-18.8")}}
{% endfor %}
